.centerbox

  %h1 DuckDuckGo Queries

  %p
    = link_to 'New Query', '/duckduckgo/new'

  %hr{:size => 1, :width => 300}

  %table{:align => :center, :width => "80%"}
    %tr
      %th Name
      %th text
      %th
      %th
      %th

    - @queries.each do |query|
      %tr
        %td= query.name
        %td= query.text
        %td= link_to 'Show', "/duckduckgo/#{query.id}"
        %td= link_to 'Edit', "/duckduckgo/#{query.id}/edit"
        %td
          - form_for query, "/duckduckgo/#{query.id}/delete", :id => "delete_#{query.id}", :method => :POST do |f|
            = csrf_tag
            = link_to 'Destroy', "javascript:$('#delete_#{query.id}').submit();", :confirm => "Are you sure?"

          


  %hr{:size => 1, :width => 300}
  %br

  %p Powered by DuckDuckGo